[MESSAGES CONTROL]

disable=unsubscriptable-object,too-few-public-methods,too-many-public-methods,too-many-instance-attributes,too-many-arguments,logging-fstring-interpolation,bad-continuation,invalid-name,no-else-return,no-else-raise,no-else-break,no-else-continue,missing-function-docstring,subprocess-popen-preexec-fn,broad-except,duplicate-code

generated-members=zmq.*,signal.*

ignore=tests
